@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header_top{
    padding-top: 10px;
    padding-bottom: 10px;
    background:rgb(255, 93, 27);
}
.header_top_link{
    font-size: 14px;
}
.navbar-text{
    font-family: 'Roboto' sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    /* line-height: 67px; */
}
.space-between{
    padding-top: 10px;
    padding-bottom: 10px;
}
.border-1-orange{
    border-color: rgba(255,93,27, 0.5);
    border-top: 1px solid rgb(255, 93, 27);
}
.full-banner{
    background: url('/images/banner.jpg') no-repeat;
    background-size: cover;
    width:100%;
    height: 630px;
}
.inner-banner{
    background: url('/images/banner.jpg') no-repeat;
    background-size: cover;
    width:100%;
    height: 300px;
}
.logo-text{
    font-weight: 700;
    font-size: 1.8rem;
    font-family: 'Roboto Condensed' sans-serif;
}
.medium-title{
    text-transform: uppercase;
    color: rgb(206, 206, 206);
    font-weight: 400;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}
.big-title{
    text-transform: uppercase;
    color: rgb(255, 93, 27);
    font-weight: 700;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}
.banner-left-content{
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.innerpage-banner-title{
    text-transform: uppercase;
    color: rgb(206, 206, 206);
    font-weight: 600;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.btn-custom{
    background: transparent;
    border: 1px solid rgb(255, 93, 27);
    padding: 10px 30px;
    color: #fff;
    font-size: 1rem;
    transition: all .2s ease-in-out;
}

.btn-custom:hover{
    background: rgb(255, 93, 27);
    color: white;
}

.text-justify{
   text-align: justify;
}

.section-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.boxed-services{
    margin-top: 50px;
    margin-bottom: 10px;
}
.boxed-services-card-title{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}
.boxed-services-card:hover{
    background:rgb(255, 93, 27);
    color: white;
    transition: .2s ease-in-out all;
}
.text-orange{
    color: rgb(255, 93, 27);
}
.bg-orange{
    background:rgb(255, 93, 27) !important;
}
.border-orange{
    border: 1px solid rgb(255, 93, 27);
}
.icon-circle{
    padding: 10px;
    margin-right:10px;
    border: 1px solid rgb(255, 93, 27);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 93, 27);
    color: #fff;
}

.boxed-services-card:hover .icon-circle{
    background-color: white;
    color:rgb(255, 93, 27);
    transition: .2s ease-in-out all;
}
.about{
    margin-top: 30px;
    background: whitesmoke;
}
.section-title{
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tracking{
    padding: 100px 0px;
}
.tracking-input{
    height: 50px;
    padding: 0px 15px;
    letter-spacing: .45px;
    border-radius: 0;
    box-shadow: none;
    color: #58585a;
    font-family: 'Roboto Condensed', sans-serif;
    outline: none;
}
.tracking-input:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(255, 93, 27);
}
.custom-form-input{
    height: 50px;
    padding: 0px 15px;
    letter-spacing: .45px;
    border-radius: 0;
    box-shadow: none;
    color: #58585a;
    font-family: 'Roboto Condensed', sans-serif;
    outline: none;
}
.custom-form-input:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(255, 93, 27);
}

.custom-form-textarea{
    padding: 10px 15px;
    letter-spacing: .45px;
    border-radius: 0;
    box-shadow: none;
    color: #58585a;
    font-family: 'Roboto Condensed', sans-serif;
    outline: none;
}
.custom-form-textarea:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(255, 93, 27);
}

.track-btn{
    border: none;
    height: 50px;
    padding: 0px;
    width: 150px;
    background: rgb(255, 93, 27);
    color: #fff;
    border-radius: 0px;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: .45px;
}
.track-btn:hover{
    background: transparent;
    border: 1px solid rgb(255, 93, 27);
    color:rgb(255, 93, 27);
}

.section-title{
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

.footer{
    background: url('/images/footer-bg.png') no-repeat scroll center center;
    background-size: cover;
    padding: 88px 0px 56px 0px;
}
.footer-title{
    padding-bottom: 32px;
}
.footer-title h3{
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.footer-copy-right {
    text-align: center;
    padding-top: 85px;
  }
.footer-copy-right h4 {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
  }

  .text-whitesmoke {
    color: rgba(255, 255, 255, 0.7);
  }
  .footer-contact-details p{
    font-size: 14px;
  }
.footer-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.footer-contact-details  p:first-child{
    padding-bottom:15px ;
}
ul{
    list-style: none;
    margin:0px;
    padding: 0px;
}
a{
    text-decoration: none;
}

.footer-services ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    line-height: 30px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}
.footer-about-us p{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    padding: 25px 0px 20px 0px;
}
.track-list-title{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.card-title-custom{
    font-weight: 700;
    font-size: 1.15rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: #15141A;
}

.line{
    display: block;
    width: 30px;
    height: 2px;
    background: rgb(206, 206, 206);
}

.main-sidebar{
    height: 100%;
    min-height: 100vh;
    top: 0;
    left:0;
    position: absolute;
    width: 280px;
    transition: .4s;
    z-index: 1026;
    box-shadow:  0 0 5px rgba(0,0,0,.1);
    background: #090127;
}
.fixed-sidebar{
    position: fixed;
    max-height: 100vh;
}
.sidebar-head{
    display: flex;
    align-items: center;
    padding: .875rem 1.375rem;
    overflow: hidden;
    width: 280px;
}
.sidebar-brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}
.sidebar-body{
    position: relative;
    height: 100%;
}
.sidebar-content{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
}
.sidebar-menu-wrapper{
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    margin: 0px;
}
.sidebar-content .sidebar-menu[data-simplebar]{
    height: 100%;
}
[data-simplebar]{
    position: relative;
}
.simplebar-mask {
	direction: inherit;
	position: absolute;
	overflow: hidden;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: auto !important;
	height: auto !important;
	z-index: 0;
}
.simplebar-offset {
	direction: inherit !important;
	box-sizing: inherit !important;
	resize: none !important;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
}
.simplebar-content{
    padding: 0px;
}
.simplebar-content::before, .simplebar-content::after{
    content: " ";
    display: table;
}
.sidebar-menu-item{
    padding: 1rem 0;
}
.simplebar-content-wrapper{
    height: 100%;
    overflow: hidden auto;
}
.simplebar-content-wrapper{

}
.sidebar-menu-link{
    padding: .625rem 1.75rem;
    font-size: .875rem;
    display: flex;
    color:#ffffff;
    cursor: pointer;
}

.dashboard-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 280px;
}
.dashboard-header{
    padding: .5rem 1rem;
}
.dashboard-header-fixed{
    left: 280px;
}
.dashboard-header-fixed .dashboard-content{
    margin-top: 3.75rem;
}
.dashboard-content{
    padding: 2rem .5rem
}
.login-section{
    margin-top: 150px;
    height: 100vh;
    width: 100%;
}
.our_about_area{
    padding: 100px 0px;
}
.about-image{
    overflow: hidden;
}
.global_text_area{
    background: #f5f7f9;
    padding: 100px 0px;
}
.contact_form_area{
    padding: 100px 0px;
}

.single-title {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #59595b;
    text-transform: uppercase;
    padding-bottom: 48px;
}

.font-25{
    font-size: 23px !important;
}
.contact_form_area .contact_details_inner{
    background: rgb(255, 93, 27);
    min-height: 313px;
    padding: 40px;
}
.contact_details_inner .media .media-left{
    padding-right: 20px;
    color: #fff;
    font-size: 20px;
}
.media-left, .media-right, .media-body{
    display: table-cell;
    vertical-align: top;
}
.contact_details_inner .media .media-body p{
    color: #fff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    letter-spacing: .48px;
}
.icon-circle-alt{
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 38px;
}

.btn-custom-alt{
    width: 165px;
    height: 48px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
    position: relative;
    display: inline-block;
    background: transparent;
    border: 1px solid rgb(255, 93, 27);
    transition: all 300ms linear 0s;
    padding: 0px;
    outline: none !important
}

.services_area{
    padding: 100px 0px;
}

.featured-about-section{
    overflow: hidden;
    display: flex;
    margin: 60px 0px;
    background:whitesmoke;
}
.left-featured-content{
    width: calc(50% + 210px);
    float: left;
    overflow: hidden;
    align-self: center;
    flex: 1;
}
.left-featured-inner-content{
    max-width: 780px;
    float: right;
}
.right-featured-content{
    width: calc(50% - 210px);
    float: right;
    overflow: hidden;
}